.cost-lone{
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  @include mq('desktop') {
    gap: 40px;
    align-items: flex-start;
    flex-direction: initial;
    }

  @include mq('desktop') {
    margin-top: 60px;
  }
    &__image {
      margin-left: auto;
      margin-right: auto;
  
      @include mq('desktop') {
        width: 40%;
      }
    }
  &__title{
    // font-size: 14px;
    font-size: 16px;
      text-align: center;
    
      @include mq('desktop') {
        text-align: initial;
        font-size: 20px;
      }
  }
    &__text {
      // font-size: 12px;
      font-size: 16px;
      line-height: 2;
      margin-top: 20px;
  
      @include mq('desktop') {
        font-size: 16px;
      }
    }
}