.cost{
  padding: 60px 0;
  background-color: rgba($color: #887660, $alpha: 0.04);
  @include mq('desktop'){
    padding: 120px 0;
  }
  &__pre{
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 2;
    @include mq('desktop'){
      margin-top: 60px;
      font-size: 16px;
    }
  }
  &__price{
    margin-top: 30px;
    
      @include mq('desktop') {
        margin-top: 40px;
      }
  }
  &__line{
    margin-top: 40px;
    
      @include mq('desktop') {
        margin-top: 60px;
      }
  }
  &__deduct{
    margin-top: 80px;
  }

}