.cost-price-list{
  &__item{
    border-bottom: 1px solid rgba($color: #C7BBAB, $alpha: 0.4);
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    align-items: center;
  }
  &__name{
    font-size: 15px;
    @include mq('desktop'){
      font-size: 16px;
    }
    &-label{
      font-size: 16px;
      padding: 14px 0;
    }
  }
  &__price{
    font-size: 18px;
    @include mq('desktop'){
      font-size: 18px;
    }
  }
  &-sub{
    width: 95%;
    margin-right: 0;
    margin-left: auto;
    >*:first-child{
      border-top: 1px solid rgba($color: #C7BBAB, $alpha: 0.4);
    }
  }
}