.cost-budget{
  margin-top: 60px;
  @include mq('desktop'){
    margin-top: 120px;
  }
  &__title{
    font-size: 22px;
    text-align: center;
    line-height: 1.8;
    @include mq('desktop'){
      font-size: 26px;
    }
  }
  &__graph{
    margin-top: 30px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
  &__together{
    margin-top: 30px;
    
      @include mq('desktop') {
        margin-top: 60px;
      }
  }
}