.cost-deduct{
  &__title{
    font-size: 20px;
    text-align: center;
    background-color: #F6F4F0;
      padding: 1em 0;
    color: firebrick;
    font-weight: bold;
    @include mq('desktop'){
      font-size: 24px;
    }
  }
  &__pre{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    @include mq('desktop'){
      font-size: 18px;
      margin-top: 30px;
    }
  }
  &__list{
    margin-top: 40px;
    list-style-type: decimal;
    padding-left: 5%;
    @include mq('desktop'){
      margin-top: 60px;
    }
    li {
        font-size: 14px;
        @include mq('desktop'){
          font-size: 16px;
        }
    
        &:not(:first-child) {
          margin-top: 1.5em;
        }
    
        span {
          @include mq('desktop'){
            padding-left: 32px;
            margin-top: 5px;
            display: block;
            margin-top: 10px;
          }
          img{
            margin-top: 10px;
            width: 100%;
            @include mq('desktop'){
              margin-top: 0px;
            }
          }
        }
      }
  }
  &__price{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    height: 17em;
    margin-top: 20px;
    @include mq('desktop'){
      font-size: 16px;
    }
    >*{
      &:not(:first-child){
        margin-left: 5px;
      }
    }
    .text{
      &:nth-of-type(1){
        background-color: rgba(136, 118, 96, 0.04);
        border: 3px solid rgba(199, 187, 171, 0.4);
      }
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F6F4F0;
      height: 100%;
      text-align: center;
      padding: 1%;
      writing-mode: vertical-rl;
      white-space: nowrap;
      text-orientation: upright;
      flex-direction: column;
      .num{
        text-orientation: initial;
      }
      .br{
        display: block;
      }
    }
  }
  &__count{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
}