.disease{
  padding: 40px 0;
  @include mq('desktop'){
    padding: 100px 0;
  }
  &__title{
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    @include mq('desktop'){
      font-size: 28px;
    }
    .bold{
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  &__pre{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-direction: column;
    @include mq('desktop'){
      flex-direction: initial;
      align-items: flex-start;
      margin-top: 60px;
    }
    &-text{
      font-size: 12px;
      line-height: 2;
      @include mq('desktop'){
        font-size: 16px;
      }
    }
    &-image{
      @include mq('desktop'){
        width: 40%;
      }
    }
  }
  &__contents{
    margin-top: 30px;
    @include mq('desktop'){
      margin-top: 40px;
    }
  }
}