.born{
  padding: 60px 0;
  background-color: rgba($color: #887660, $alpha: 0.06);
  @include mq('desktop'){
    padding: 120px 0;
  }
  &__title{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: firebrick;
    font-weight: bold;
    white-space: nowrap;
    @include mq('desktop'){
      font-size: 26px;
    }
    .bold{
      font-weight: bold;
      font-size: 1.2em;
      color: firebrick;
    }
  }
  &__pre{
    margin-top: 30px;
    @include mq('desktop'){
      margin-top: 40px;
    }
  }
  &__structure{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
  &__text{
    // font-size: 14px;
    font-size: 16px;
    line-height: 2;
    margin-top: 30px;
    text-align: center;
    @include mq('desktop'){
      font-size: 16px;
      margin-top: 40px;
    }
  }
  &__line{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
}