.born-pre{
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  @include mq('desktop'){
    flex-wrap: nowrap;
  }
  &__image{
    @include mq('desktop'){
      width: 40%;
    }
  }
  &__text{
    font-size: 12px;
    @include mq('desktop'){
      font-size: 14px;
    }
  }
}