.born{
  padding: 60px 0;
  background-color: rgba($color: #887660, $alpha: 0.04);
  @include mq('desktop'){
    padding: 120px 0;
  }
  &__title{
    font-size: 22px;
    line-height: 1.6;
    text-align: center;
    @include mq('desktop'){
      font-size: 26px;
    }
  }
  &__pre{
    margin-top: 30px;
    @include mq('desktop'){
      margin-top: 40px;
    }
  }
  &__structure{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
  &__text{
    font-size: 12px;
    line-height: 2;
    margin-top: 30px;
    text-align: center;
    @include mq('desktop'){
      font-size: 16px;
      margin-top: 40px;
    }
  }
  &__line{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
}