.message-listarea{
  &__text{
    font-size: 14px;
    line-height: 2;
    margin-top: 50px;
    text-align: center;
    @include mq('desktop'){
      font-size: 22px;
      margin-top: 100px;
    }
  }
}