.message-listarea-list{
  display: flex;
  justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  @include mq('desktop'){
    justify-content: space-between;
  }
  &__item{
    width: 40%;
    text-align: center;
    @include mq('desktop'){
      width: 30%;
    }
  }
  &__text{
    margin-top: 20px;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    @include mq('desktop'){
      font-size: 16px;
    }
  }
}