.message {
  margin-top: 100px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .message {
    margin-top: 200px;
    padding-bottom: 140px;
  }
}
.message__title {
  position: relative;
}
.message__title::after {
  content: "Message";
}
.message__contents {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .message__contents {
    margin-top: 100px;
  }
}
.message__listarea {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .message__listarea {
    margin-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  .message-contents {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .message-contents__block {
    width: 36%;
  }
}
.message-contents__slogan {
  font-size: 22px;
  line-height: 1.6em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .message-contents__slogan {
    margin-left: 14%;
    font-size: 28px;
  }
}
.message-contents__image {
  margin-top: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .message-contents__image {
    margin-top: 40px;
    margin-left: -5px;
  }
}
.message-contents__text {
  line-height: 2em;
  font-size: 12px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .message-contents__text {
    margin-top: 0px;
    width: 55%;
    font-size: 18px;
  }
}

.message-listarea__text {
  font-size: 12px;
  line-height: 2;
  margin-top: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .message-listarea__text {
    font-size: 22px;
    margin-top: 100px;
  }
}

.message-listarea-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .message-listarea-list {
    justify-content: space-between;
  }
}
.message-listarea-list__item {
  width: 40%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .message-listarea-list__item {
    width: 30%;
  }
}
.message-listarea-list__text {
  margin-top: 20px;
  line-height: 2;
  font-size: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .message-listarea-list__text {
    font-size: 16px;
  }
}

.doctor {
  padding: 60px 0;
  background-color: rgba(136, 118, 96, 0.04);
}
@media screen and (min-width: 768px) {
  .doctor {
    padding: 120px 0;
  }
}
.doctor__title {
  text-align: center;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .doctor__title {
    font-size: 36px;
  }
}
.doctor__title span {
  display: block;
  font-size: 0.5em;
}
.doctor__contents {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .doctor__contents {
    margin-top: 80px;
  }
}

.doctor-contents {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .doctor-contents {
    justify-content: space-between;
    flex-direction: initial;
  }
}
.doctor-contents__info {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .doctor-contents__info {
    width: 70%;
    margin-top: 0;
  }
}
.doctor-contents__image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .doctor-contents__image {
    width: 27%;
    margin-left: initial;
    margin-right: initial;
  }
}
.doctor-contents__image img {
  width: 100%;
}

.doctor-contents-info__label {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .doctor-contents-info__label {
    font-size: 16px;
  }
}
.doctor-contents-info__label .en {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .doctor-contents-info__label .en {
    font-size: 14px;
  }
}
.doctor-contents-info__name {
  font-size: 32px;
  margin-top: 0.8em;
  padding-bottom: 0.6em;
  border-bottom: 1px solid rgba(136, 118, 96, 0.1);
}
@media screen and (min-width: 768px) {
  .doctor-contents-info__name {
    margin-top: 0.5em;
  }
}
.doctor-contents-info__name-label {
  font-size: 0.5em;
  margin-right: 2%;
}
.doctor-contents-info__name .en {
  font-size: 0.5em;
}
.doctor-contents-info .en {
  display: block;
}
@media screen and (min-width: 768px) {
  .doctor-contents-info .en {
    display: initial;
    margin-left: 4%;
  }
}
.doctor-contents-info__wrap {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .doctor-contents-info__wrap {
    margin-top: 30px;
    display: flex;
  }
}

.doctor-contents-info-list-belong .doctor-contents-info-list__item {
  white-space: nowrap;
}
.doctor-contents-info-list-past {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .doctor-contents-info-list-past {
    margin-top: 0px;
    margin-left: 8%;
  }
}
.doctor-contents-info-list-past .doctor-contents-info-list__item {
  display: flex;
  gap: 10px;
}
.doctor-contents-info-list-past .doctor-contents-info-list__item-year {
  white-space: nowrap;
  min-width: 17%;
}
.doctor-contents-info-list__title {
  font-size: 18px;
  margin-bottom: 0.6em;
}
@media screen and (min-width: 768px) {
  .doctor-contents-info-list__title {
    margin-bottom: 1em;
  }
}
.doctor-contents-info-list__item {
  font-size: 14px;
  line-height: 2.2;
}
@media screen and (min-width: 768px) {
  .doctor-contents-info-list__item {
    font-size: 16px;
  }
}/*# sourceMappingURL=greeting.css.map */