.doctor-contents-info-list{
  &-belong{
    .doctor-contents-info-list{
      &__item {
          white-space: nowrap;
        }
    }
  }
  &-past{
    margin-top: 20px;
    @include mq('desktop'){
      margin-top: 0px;
      margin-left: 8%;
    }
    .doctor-contents-info-list {
        &__item {
          display: flex;
          gap:10px;
          &-year{
            white-space: nowrap;
            min-width: 17%;
          }
        }
      }
  }

  &__title{
    font-size: 18px;
    margin-bottom: .6em;
    @include mq('desktop'){
      margin-bottom: 1em;
    }
  }
  &__item{
    font-size: 14px;
    line-height: 2.2;
    @include mq('desktop'){
      font-size: 16px;
    }
  }
}