.doctor{
  padding: 60px 0;
  background-color: rgba($color: #887660, $alpha: 0.04);
  @include mq('desktop'){
    padding: 120px 0;
  }
  &__title{
    text-align: center;
    font-size: 28px;
    @include mq('desktop'){
      font-size: 36px;
    }
    span{
      display: block;
      font-size: .5em;
    }
  }
  &__contents{
    margin-top: 50px;
    @include mq('desktop'){
      margin-top: 80px;
    }
  }
}