.pride-list{
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  &__item{
    flex: 1 1 100%;
    padding: 40px 10% 30px;
    border: 1px solid #887660;
    @include mq('desktop'){
      flex: 1 1 20%;
      padding: 70px 1% 50px;
    }
  }
}