.transport{
  margin-top: 80px;
  padding-bottom: 80px;
  @include mq('desktop'){
    margin-top: 100px;
      padding-bottom: 100px;
  }
  &__map{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
  &__howto{
    margin-top: 30px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
}