.header-nav-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include mq('desktop'){
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    text-align: center;
    @include mq('desktop'){
      text-align: initial;
    }
    &:not(:first-child){
      @include mq('desktop'){
        margin-left: 10px;
      }
    }
    a{
      font-size: 14px;
      padding: 15px;
      display: block;
      @include mq('desktop'){
        padding: 5px;
        font-size: 17px;
      }
    }
  }
}