.footer{
  padding: 60px 0 40px;
  @include mq('desktop'){
    padding: 100px 0 80px;
  }
  &__map{
    width: 100%;
    height: 300px;
    margin-top: 60px;
    @include mq('desktop'){
      height: 400px;
      margin-top: 120px;
    }
  }
  &__menuarea{
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    @include mq('desktop'){
      margin-top: 30px;
    }
  }
  &__logo{
    margin-left: auto;
      margin-right: auto;
    margin-top: 10px;
    display: inline-block;
    @include mq('desktop'){
      margin-right: 0;
      margin-top: 0px;
    }
    img{
      width: 100%;
    }
  }
}