.soudan-contents{
  &__text {
      text-align: center;
      font-size: 14px;
      line-height: 2;
      @include mq('desktop'){
        font-size: 16px;
      }
  
      &-attention {
        margin-top: 20px;
        @include mq('desktop'){
          margin-top: 40px;
        }
      }
    }
    &__line{
      margin-top: 20px;
      @include mq('desktop'){
        margin-top: 40px;
      }
    }
}