.pros-list-contents{
  gap: 2%;
  display: flex;
  flex-direction: column;
  @include mq('desktop'){
    align-items: flex-start;
    flex-direction: initial;
  }
  &__name {
      text-align: center;
      font-size: 18px;
      @include mq('desktop'){
        font-size: 22px;
      }
    }
  
    &__image {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      width: 60%;
      @include mq('desktop'){
        margin-top: 20px;
        width: 80%;
      }
    }
  &__list{
    margin-top: 20px;
    @include mq('desktop'){
      margin-top: 30px;
    }
  }
}