.pros-list{
  &__pre-text{
    margin-top: 40px;
    font-size: 12px;
    line-height: 2;
    @include mq('desktop'){
      margin-top: 80px;
      font-size: 16px;
    }
  }
  &__contents{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
}