.pros-message-recommend{
  background-color: rgba($color: #887660, $alpha: 0.04);
  padding: 20px 5%;
  @include mq('desktop'){
    padding: 40px 10%;
  }
  &__title{
    font-size: 16px;
    @include mq('desktop'){
      font-size: 22px;
    }
  }
  &__contents{
    display: flex;
    gap: 3%;
    margin-top: 10px;
    @include mq('desktop'){
      margin-top: 20px;
    }
  }
  &__item{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__text{
    // font-size: 14px;
    font-size: 16px;
    line-height: 2;
    margin-top: 10px;
    @include mq('desktop'){
      margin-top: 14px;
      font-size: 16px;
    }
  }
}