.fv-message{
  padding-bottom: 20px;
  @include mq('desktop'){
    padding-bottom: 36px;
  }
  &__title{
    padding-top: 140px;
    font-size: 28px;
    @include mq('desktop'){
      padding-top: 256px;
      margin-left: 12.5%;
      font-size: 47px;
    }
    .en{
      display: block;
      font-size: .5em;
      margin-bottom: 20px;
      @include mq('desktop'){
        font-size: .4em;
        margin-bottom: 32px;
      }
    }
  }
  &__text{
    display: flex;
      flex-direction: column;
      align-items: flex-end;
    margin-top: 60px;
    @include mq('desktop'){
      margin-top: 120px;
    }

    >*{
      max-width: 50%;
      &:nth-child(2){
        margin-top: 10px;
        @include mq('desktop'){
          margin-top: 20px;
        }
      }
    }
  }
  &__breadcrumb{
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    margin-bottom: 60px;
    @include mq('desktop'){
      margin-left: 12.5%;
      margin-bottom: 120px;
    }
    a{
      margin-right: 5px;
      &::after{
        content: ">";
        margin-left: 10px;
      }
    }
  }
}