.worry-contentarea{
  &__title{
    font-size: 16px;
    line-height: 1.8em;
    @include mq('desktop'){
      font-size: 22px;
    }
    span{
      display: block;
        font-size: 12px;
        margin-bottom: 10px;
      @include mq('desktop'){
        font-size: 18px;
      }
    }
  }
  &__text{
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.8em;
    @include mq('desktop'){
      margin-top: 30px;
      font-size: 16px;
    }
  }
  &__line{
    margin-top: 20px;
    @include mq('desktop'){
      margin-top: 30px;
    }
  }
}