.guarantee-explain{
  background-color: rgba($color: #887660, $alpha: 0.04);
  padding: 30px 5%;
  @include mq('desktop'){
    padding: 60px 10%;
  }
  &__text{
    font-size: 12px;
    text-align: center;
    @include mq('desktop'){
      font-size: 14px;
    }
  }
  &__list{
    font-size: 12px;
    margin-top: 1em;
    list-style-type: decimal;
    line-height: 2;
    padding-left: 5%;
    @include mq('desktop'){
      font-size: 14px;
    }
  }
}