.guarantee{
  padding:60px 0;
  @include mq('desktop'){
    padding: 120px 0;
  }
  &__title{
    color: firebrick;
    font-weight: bold;
  }
  &__message{
    margin-top: 40px;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    @include mq('desktop'){
      margin-top: 60px;
        font-size: 18px;
    }
  }
  &__image{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    @include mq('desktop'){
      margin-top: 40px;
    }
  }
  &__explain{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }

}