.advantage-list{
  &__item{
    padding: 60px 0 40px 0;
    @include mq('desktop'){
      padding: 120px 0 120px 19.1%;
    }
    &:nth-child(2n-1) {
        background-color: rgba($color: #887660, $alpha: 0.04);
    
      }
  }
}