.faq{
  padding-top: 60px;
  padding-bottom: 60px;
  @include mq('desktop'){
    padding-top: 100px;
  }
  &__title{
    color: firebrick;
    font-weight: bold;
  }
  &__contents{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
}