.schedule-contents-item{
  display: flex;
  position: relative;
    &__time{
      font-size: 20px;
      margin-right: 20px;
      line-height: 1;
      text-align: center;
      margin-top: .3em;
      @include mq('desktop'){
        margin-top: 0.2em;
        font-size: 34px;
      }
      .small{
        font-size: 11px;
        line-height: 1.2;
        display: block;
        @include mq('desktop'){
          font-size: 14px;
        }
      }
      span:not(.small) {
        font-size: 16px;
        line-height: 1.2;
        display: block;
        @include mq('desktop'){
          font-size: 18px;
        }
        }
    }
    &__block{
      @include mq('desktop'){
        display: grid;
          grid-template-columns: repeat(2, 1fr);
      }
    }
    &__textarea{
      flex: 1;
      @include mq('desktop'){
        margin-top: .5em;
        padding-right: 5%;
      }
    }
    &__title{
      font-size: 22px;
      @include mq('desktop'){
        font-size: 20px;
      }
    }
    &__text{
      margin-top: 10px;
      font-size: 14px;
      line-height: 2;
      @include mq('desktop'){
        font-size: 16px;
      }
    }
    &__explain{
      margin-top: 20px;
    }
    &:not(:last-child)::after{
      content: "";
      width: 1px;
      left: 23px;
      background-color: #C7BBAB;
      position: absolute;
      bottom: 0;
      @include mq('desktop'){
        left: 38px;
      }
    }
    &:not(:last-child){
      padding-bottom: 20px;
      @include mq('desktop') {
          padding-bottom: 60px;
        }
    }
    &:not(:first-child){
      margin-top: 20px;
    }
    &:nth-child(1){
      &::after{
        height: 70%;
        @include mq('desktop') {
          height: 80%;
        }
      }
    }
        &:nth-child(2) {
          &::after {
            height: 90%;
          }
        }
}