.schedule{
  padding-top: 60px;
  padding-bottom: 30px;
  @include mq('desktop'){
    padding-top: 100px;
    padding-bottom: 60px;
  }
  &__title{
    color: firebrick;
    .bold{
      font-weight: bold;
      font-size: 1.3em;
      color: firebrick;
    }
  }
  &__contents{
    margin-top: 30px;
    background-color: rgba(136, 118, 96, 0.04);
    padding: 20px 0;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
  &__second-opinion{
    margin-top: 40px;
    @include mq('desktop'){
      margin-top: 60px;
    }
  }
  &__line{
    margin-top: 40px;
    
      @include mq('desktop') {
        margin-top: 60px;
      }
  }
}