.schedule-contents-item-explain{
  background-color: rgba($color: #887660, $alpha: 0.06);
  grid-column-start: 1;
    grid-column-end: 3;
    padding: 14px 6%;
    @include mq('desktop'){
      padding: 30px 10%;
    }
    &__name{
      font-size: 16px;
      @include mq('desktop'){
        font-size: 18px;
      }
    }
    &__text{
      margin-top: 14px;
      // font-size: 12px;
      font-size: 16px;
      line-height: 2;
      @include mq('desktop'){
        font-size: 14px;
        margin-top: 20px;
      }
    }
}