body{
  // color: #887660;
  color: #886D4C;
  font-family: 'Cinzel', 'Shippori Mincho',serif !important;
  background-color: #Fefefe;
  // background-color: #FBF9F6;
}
html{
  scroll-behavior: smooth;
}